button {
    margin: 15px;
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    color: aqua;
    border: 2px solid aqua;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: aqua;
    color: #ffffff
}

.left-side, .right-side {
    height: 30px;
}

.left-side {
    width: 60px;
}

.medal-button-image {
    object-fit: contain;
    max-width: 24px;
    max-height: 24px;
    margin: 3px calc((100% - 24px) / 2);
}

.button-text {
    margin: 3px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* color: aqua; */
}

.right-side {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow-image {
    width: 22px;
    height: 22px;
}