#page {
    display: flex;
    flex-direction: row;
}

.side-bar-left { 
    border-right-style: solid;
    border-right-color: #444444;
}

.side-bar-right { 
    border-left-style: solid;
    border-left-color: #444444;
}

@media (min-width: 1400px) {
    .side-bar {
        width: 15vw;
        min-height: 100vh;
        background-color: #eaeaea;
    }

    .content {
        width: 70vw;
    }

    .side-bar-left {
        border-right-width: 5px;
    }

    .side-bar-right {
        border-left-width: 5px;
    }
}

@media (max-width: 1400px) {
    .side-bar {
        width: 0vw;
    }

    .content {
        width: 100vw;
    }

    .side-bar-left {
        border-right-width: 0;
    }

    .side-bar-right {
        border-left-width: 0;
    }
}

.header {
    padding: 25px 0;
    background-color: #444444;
}

.header-title {
    margin: 0 auto;
    text-align: center;
    font-size: 200%;
    font-weight: 600;
    color: #eaeaea;
}

.sub-header {
    display: flex;
    background-color: #eaeaea;
}

.sequence-buttons {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.sub-header-labels {
    flex-direction: row;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #444444;
}

.sub-header-start {
    width: 50%;
    justify-content: flex-start;
}

.sub-header-start p {
    color: #444444;
}

#hashtag-label,
#name-label {
    margin: auto 20px;
}

#hashtag-label {
    width: 40px;
    text-align: center;
}

#flag-label {
    width: 100px;
    margin: auto 0;
    text-align: center;
}

#name-label {
    width: 400px;
}

.sub-header-end {
    width: 50%;
    justify-content: flex-end;
}

.single-medal {
    width: 30px;
    height: 30px;
    margin: 20px 25px;
}

.triple-medal {
    width: 60px;
    height: 30px;
    margin: 20px 10px;
}
