#page {
    display: flex;
    flex-direction: row;
}

@media (min-width: 1400px) {
    .side-bar {
        width: 15vw;
        min-height: 100vh;
        background-color: rgb(0, 0, 25);
    }
    
    .content {
        width: 70vw;
    }
}

@media (max-width: 1400px) {
    .side-bar {
        width: 0vw;
    }

    .content {
        width: 100vw;
    }
}

#header {
    padding: 15px 0;
    background-color: aqua;
}

h1 {
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
}

.sub-header {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

.sub-header-start {
    width: 50%;
    justify-content: flex-start;
}

.sub-header-start p {
    color: aqua;
}

#hashtag-label, #name-label {
    margin: auto 20px;
}

#hashtag-label {
    width: 40px;
    text-align: center;
}

#flag-label {
    width: 100px;
    margin: auto 0;
    text-align: center;
}

#name-label {
    width: 400px;
}

.sub-header-end {
    width: 50%;
    justify-content: flex-end;
}

.single-medal {
    width: 30px;
    height: 30px;
    margin: 20px 25px;
}

.triple-medal {
    width: 60px;
    height: 30px;
    margin: 20px 10px;
}